.App {
  text-align: center;
}

.square-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.square-one {
  width: 100px;
  height: 100px;
  background-color: #f00;
}

.square-two {
  width: 100px;
  height: 100px;
  background-color: #0f0;
}

.square-three {
  width: 100px;
  height: 100px;
  background-color: #00f;
}
