.App {
  text-align: center;
}

.square-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
}

.square {
  width: 100px;
  height: 100px;
  margin: 10px; 
  transition: transform 0.2s;
  cursor: pointer;
}

.square:hover {
  transform: scale(1.1); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.hex-color, .status-message {
  margin: 10px 0; 
}

.reset-button {
  margin-top: 20px;
}

.correct-swatch {
  border: 3px solid #00FF00; 
  box-shadow: 0 0 10px #00FF00;
}
